body{
    background-image:url(https://images.all-free-download.com/images/graphicwebp/blue_abstract_background_310971.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 25px;
    margin: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1.6;
    text-align: center;
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: Poppins
}
::selection{
    background-color: rgb(166, 233,166);
    color: rgb(113, 113, 211);
}
sup{
    color: red;
}

h4{
    text-align: center;
    color: rgb(105, 28, 248);
    position: relative;    
}
p{
    font-size: small;
}


input[type=text], select, [type=email] {
    width: 50%;
    padding: 12px 30px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 30%;
    margin-right: 20%;
}


input[type=text]:hover, select:hover, [type=email]:hover{
    outline: none;
    background-color: #6fb98f;
    border: 2px solid rgb(105, 7, 105);
    color: #222;
}



.reset, .submit{
    background-color: rgb(210, 214, 236);
    text-align: center;
    border-radius: 5px;
    position: relative;
    width: 40%;
    left: 35%;
    margin-right: 25%;
}

.reset:hover,.submit:hover{
    outline: none;
    background-color: #6fb98f;
    border: 2px solid rgb(105, 7, 105);
    color: #222;
}


.submit:focus{
    width: 230px;
    border-color: #6fb98f;
  }
