body{
    background-image: url(https://wallpapers.com/images/hd/1920-x-1080-anime-dark-itachi-ejdjsxl2mx79haok.jpg) ;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
    background-position: center;
    color: white;
    margin: 0;
    line-height: 1.6;
    font-weight: 400; 
    font-family: Poppins ;
    bottom: 0;
      
  }

::selection{
  background-color: rgb(166, 233,166);
}

.ziele p, .vorkenntnisse p{
  font-weight: bold;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    width: auto;
    clear: both;
    top: 0;
  }
  
  li {
    float: left;
  }

  .suche{
    float: right;
  }
 .suche .in:hover{
    color: rgb(166, 233,166);
    border: solid;
    
  }
  
  li a, .suche{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    
  }
  
  .navigation li a:hover {
    background-color: green;
  } 

  .willkommen{
    text-align: center;
    clear: both;
    font-variant: small-caps;
    font-style: italic;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(80, 61, 61);
  color: rgb(158, 129, 129);
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}

#myBtn:hover {
  background-color: rgb(30, 145, 110);
}

.vorkenntnisse{
    padding: 20px;
    margin: 50px;
    overflow: hidden;
  }

  .vorkenntnisse li{
    padding: 25px;
  }

  .content, .ziele{
    text-align: left;
    padding: 20px;
    margin: 50px;
    white-space: wrap;
    overflow: auto;
    clear: both;
  }

  .vorkenntnisse{
    list-style-type: none;
  }

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232F3E;
    bottom: auto;
    position:relative;
    clear: both;
    width: auto;
    line-height: middle;
    font-size: smaller;
    margin-top: 100px;
    


  }

  .footer li a {
    float: left;
  }
  
  .footer li  {
    display: block;
    color: white;
    text-align: center;
    padding: 0px;
    line-height: auto;
  }
  .footer li a:hover{
    color: green;
  }
  

.social{   
  float: right;
 
}

  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 25px;
    margin-left: 40px;
    right: 0%;
  }

  .fa-facebook:hover{
    color: green;
  }
  .fa-instagram { 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 25px;
    margin-left: 20px;
  }
  .fa-instagram:hover{
    color: green;
  }

  /* ----------------Anmeldung Css --------------------------- */



